.heading-add-exercise-div {
    display: flex;
    align-items: center;
}

.add-exercise-btn {
    padding: 5px 10px;
    background-color: var(--max-blue-purple);
    border: none;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    font-size: 16px;
}

.add-exercise-btn:hover {
    background-color: var(--max-blue-purple-dark);
    transform: scale(1.1);
}

/* Muscle Groups */

.muscles-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px 30px;
    animation: 0.7s ease-in appear;

}

.muscle-box {
    border: 2px solid var(--lavender-blush-dark);
    border-radius: 5px;
    text-align: center;
    padding: 30px 20px;
    margin: 15px;
    transition: all 0.2s ease-in-out;
    animation: 0.7s ease-out scale-up;

}

.muscle-box:hover {
    background-color: var(--french-violet);
    transform: scale(1.05);
}

.muscle-img{
    margin-top: 15px;
    width: 80px;
    border-radius: 5px;
}

.muscle-img img {
    object-fit: contain;
}

/* Exercises */
.exercises-container {
    padding: 10px 30px;
    min-width: 700px;
    animation: 0.7s ease-in-out exercise-slide-in;


}

.exercise-box {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--max-blue-purple);
    border-radius: 3px;
    padding: 30px 30px;
    margin-bottom: 15px;
    transition: all 0.2s ease-in-out;
}

.exercise-img-text {
    display: flex;
}

.exercise-detail-container {
    display: flex;
    flex-direction: column;
}

.exercise-detail-container p {
    margin-top: 15px;
}

.exercise-detail-container .posted-by {
    color: var(--lavender-blush-dark);
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.exercise-username:hover {
    cursor: pointer;
    color: var(--max-blue-purple);
}

.exercise-name-log-btn-container {
    display: flex;
    justify-content: space-between;
}


.exercise-image {
    width: 200px;
    border-radius: 3px;
    object-fit: cover;
    margin-right: 20px;
    max-height: 200px;
}


.add-log-edit-delete-exercise {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;

}

.add-log-edit-delete-exercise button {
    border: none;
    background-color: var(--jet);
    border-bottom: 1px solid var(--jet);
    padding: 5px;
}

.edit-exercise-btn {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    border-radius: 3px;
    border: none;
    color: var(--tea-green);
    transition: all 0.1s ease-in-out;

}

.edit-exercise-btn:hover {
    background-color: var(--tea-green);
    color: var(--jet);
}

.delete-exercise-btn {
    color: var(--light-coral);
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    border-radius: 3px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.delete-exercise-btn:hover {
    background-color: var(--light-coral);
    color: var(--jet);
}

.add-log-edit-delete-exercise i {
    font-size: 20px;
}


@media screen and (min-width: 300px) and (max-width: 992px) {

    .heading-add-exercise-div {
        display: block;
    }

    .add-exercise-btn {
        position: relative;
        left: 1.9em;
        font-size: 1.6em;
        margin-bottom: 1em;
    }

    .muscles-container {
        grid-template-columns: 1fr 1fr;
    }

    .muscle-box {
        border: 2px solid var(--lavender-blush-dark);
        border-radius: 5px;
        text-align: center;
        padding: 20px 20px;
        margin: 15px;
        transition: all 0.2s ease-in-out;
        animation: 0.7s ease-out scale-up;
    }

    .muscle-img{
        margin-top: 15px;
        width: 100px;
        border-radius: 5px;
    }

    .exercise-box {
        /* display: block; */
        margin-bottom: 2em;
    }

}
