.heading-add-exercise-div {
    display: flex;
    align-items: center;
}

/* Muscle Groups */

.muscles-container {
    /* border: 1px solid purple; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px 30px;
}

.muscle-box {
    /* border: 1px solid blue; */
    border: 2px solid var(--lavender-blush);
    border-radius: 3px;
    text-align: center;
    padding: 30px 20px;
    margin: 15px;
    transition: all 0.2s ease-in-out;
}

.muscle-box:hover {
    background-color: var(--french-violet);
    transform: scale(1.05);
}

.muscle-img{
    margin-top: 15px;
    width: 80px;
    border-radius: 5px;
}

.muscle-img img {
    object-fit: contain;
}

/* Exercises */
.exercises-container {
    padding: 10px 30px;
}

.exercise-box {
    border: 1px solid var(--max-blue-purple);
    border-radius: 3px;
    padding: 20px 10px;
    margin-bottom: 15px;
    transition: all 0.2s ease-in-out;
}

.exercise-box:hover {
    border-color: var(--dim-gray);
    background-color: var(--dim-gray);
}
