.logs-container {
    padding: 10px 30px;
}

/* .logs-inner-container > div {
    border-top: 1px solid var(--dim-gray);

} */


.log-date-heading {
    border-bottom: 3px solid var(--dim-gray);
    color: var(--max-blue-purple);
    padding: 15px 10px;
    transition: all 0.2s ease-in-out;
}

.log-date-heading:hover {
    border-bottom-color: var(--french-violet);
    color: var(--french-violet);
    cursor: pointer;
}


.log-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.log-box:hover .edit-delete-log {
    display: flex;
}


.log-details {
    display: flex;
    flex-direction: column;
}
.exercise-unit-div {
    display: flex;
    align-items: center;
}

.log-comment {
    padding-top: 15px;
}

.edit-delete-log {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;

}

.edit-delete-log button {
    border: none;
    background-color: var(--jet);
    border-bottom: 1px solid var(--jet);
    padding: 5px;
}

.edit-log-btn {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    border-radius: 3px;
    border: none;
    color: var(--tea-green);
    transition: all 0.1s ease-in-out;

}

.edit-log-btn:hover {
    background-color: var(--tea-green);
    color: var(--jet);
}

.delete-log-btn {
    color: var(--light-coral);
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    border-radius: 3px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.delete-log-btn:hover {
    background-color: var(--light-coral);
    color: var(--jet);
}

.edit-delete-log i {
    font-size: 20px;
}

.dash-main-container .empty-message-div h2 {
    padding-top: 0;
}
