.logs-container {
    padding: 10px 30px;
}

.log-box {
    border: 1px solid var(--max-blue-purple);
    padding: 30px;
    margin-bottom: 30px;
}

.log-box:hover .edit-delete-log {
    display: flex;
}

.log-date-edit-delete-container {
    display: flex;
    justify-content: space-between;
}

.edit-delete-log {
    position: relative;
    right: 0;
    top: 5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 5px;
    transition: display 0.2s ease-in-out;

}

.edit-delete-log button {
    border: none;
    background-color: var(--jet);
    border-bottom: 1px solid var(--jet);
}

.edit-log-btn {
    margin-bottom: 5px;
    color: var(--tea-green);
    transition: all 0.1s ease-in-out;

}

.edit-log-btn:hover {
    border-bottom: 1px solid var(--tea-green);
}

.delete-log-btn {
    color: var(--light-coral);
    transition: all 0.2s ease-in-out;
}

.delete-log-btn:hover {
    border-bottom: 1px solid var(--light-coral);
}
