.battle-page{
    display: flex;
    align-items: center;

}

.battle-monster-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash-main-container .fight-text {
    padding-bottom: 10px;
    margin-bottom: 30px;
    width: 70%;
    text-align:center;
    color: var(--light-coral);
    font-size: 38px;
    letter-spacing: 3px;
    border-bottom: 2px solid var(--light-coral);
}


.battle-monster-div {
    text-align: center;
    animation: 1.7s ease-in-out monster-battle-slide-in;
}

.battle-monster-name-hp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin-top: 30px;
    margin-bottom: 30px;
}

.battle-monster-img {
    width: 500px;
    height: auto;
    max-height: 800px;
    border-radius: 3px;
}

.battle-monster-img img {
    object-fit: contain;
}
.battle-monster-name-level {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 15%;
}

.battle-monster-name-level p {
    padding: 0;
}

.hp-monitor {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.hp-bar {
    width: 307px;
    background: var(--lavender-blush);
    border: 1px solid  black;
    border-radius: 20px;
    height: 22px;
    margin-top: 10px;
}


.bar {
    transition: all 0.5s ease-in-out;
    position: relative;
    top: 1px;
    border-radius: 20px;
    border: 1px solid var(--dim-gray);
    border-left: none;
    height: 18px;
    margin-left: 3px;
    width: 300px;
}

.battle-exercises-container {
    width: 80%;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: 1.7s ease-in-out appear;
}

.battle-exercises-container .exercise-box {
    margin: 15px;
}

.generate-battle-btn {
    background-color: var(--french-violet);
    color: var(--lavender-blush);
    border: none;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
}

.generate-battle-btn:hover {
    transform: scale(1.1);
}

.victory-header {
    display: flex;
    align-items: center;
}

.battle-page-victory {
    display: flex;
    flex-direction: column;
}

.battle-page-victory p {
    padding-left: 50px;
}
