.battle-page h2{
    /* border: 1px solid red; */
}


.battle-monster-img {
    width: 60%;
    height: auto;
    max-height: 800px;
    border-radius: 3px;
    margin-left: 20%;
}

.battle-monster-img img {
    object-fit: contain;
}
