footer {
    border-top: 1px solid var(--lavender-blush);
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--jet);
}


.copyright {
    padding: 10px;
    width: 25%;
}

.about-links {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: flex-end;
    padding: 10px;

}

.about-links a, p {
    text-decoration: none;
    color: var(--lavender-blush);
    padding: 5px;
    padding-left: 10px;
    transition: all 0.2s ease-in-out;
}

.about-links a:hover {
    color: var(--french-violet);
}


.technologies {
    width: 100%;
    text-align: center;
    font-size: 14px;
}
