@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Play&family=Righteous&display=swap');

:root {
	/* --base-font: 'Mulish', sans-serif; */
	--base-font: 'Play', sans-serif;
	--jet: #2f2d2e;
	--dim-gray: rgba(104, 105, 99, 0.8);
	--dim-gray-dark:  #686963;
	--max-blue-purple: #a7acd9;
	--max-blue-purple-dark: rgba(167, 172, 217, 0.8);
	--french-violet: #7A28CB;
	--french-violet-dark: rgba(122, 40, 203, 0.8);
	--lavender-blush: #F7EDF0;
	--lavender-blush-dark: rgba(247, 237, 240, 0.7);
	--light-goldenrod-yellow: #F1F0CC;
	--tea-green: #BEFFC7;
	--light-coral: #F87575;
}

h1,
h2,
h3{
	font-family: 'Righteous', cursive;
	letter-spacing: 2px;
	font-weight: normal;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

p {
	line-height: 22px;
}

*,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}


body, a {
	font-family: var(--base-font);
	background-color: var(--jet);
	color: var(--lavender-blush);
}

button, input {
	font-family: var(--base-font);
}

input {
	border-radius: 3px;
	border: 1px solid var(--dim-gray);
}


button:hover {
	cursor: pointer;
}


.shake-icon:hover {
	animation: shake 0.5s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}

@keyframes shake {
	0% { transform: rotate(0deg); }
	25% { transform:  rotate(-10deg); }
	50% { transform: rotate(0deg); }
	75% { transform: rotate(10deg); }
	100% { transform:  rotate(0deg); }
  }
