.instructions-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: var(--dim-gray);
  color: var(--lavender-blush);
  top: 36em;
  left: 1.5em;
  padding: 10px;
  width: 225px;
}

.instructions-box p {
  font-size: 14px;
}


@media screen and (min-width: 300px) and (max-width: 992px) {

  .instructions-box {
    position: static;
    width: 80%;
    margin-top: 1em;
    text-align: center;
  }

  .instructions-box h4 {
    font-size: 1.8em;
    width: 100%;
    padding-bottom: 0.5em;
  }

  .instructions-box p {
    font-size: 1.33em;
  }

}
