.dash-nav {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--dim-gray);
}

.nav-links {
    width: 100%;
    margin-left: 170px;
    margin-right: 100px;

    display: flex;
    justify-content: space-around;
}

.active {
    border-bottom: 3px solid var(--french-violet);

}
.nav-links a {
    padding: 10px;
    margin: 5px;
    padding-bottom: 7px; /* make up for border-bottom */
    height: 45px;
    width: 100px;
    text-align: center;
    color: var(--lavender-blush);
    font-weight: bold;
    border-radius: 3px;
    font-size: 20px;

}

.nav-links a:hover {
    border-bottom: 3px solid var(--french-violet);
}


.dash-side-main-container {
    display: grid;
    grid-template-columns: 275px 1fr;
    min-width: 800px;
}

.side-panel-container {
    border-right: 1px solid var(--dim-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    min-height: 100%;
    position: static;

}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.user-info h3 {
    padding-top: 10px;
}

.user-image-edit-div {
    display: flex;
    flex-direction: column;
}

.user-image {
    width: 75%;
    max-height: 400px;
    margin: 0 auto;
    border: 5px solid var(--lavender-blush-dark);
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-image img{
    object-fit: contain;
}

.edit-user-pic-btn {
    margin: 0 auto;
    position: relative;
    width: 65%;
    bottom: 35%;
    padding: 5px;
    background: none;
    border: none;
    z-index: -1;
}

.user-image-edit-div:hover .edit-user-pic-btn {
    display: inline;
    cursor: pointer;
    z-index: 1;
    background-color: var(--max-blue-purple);
    border-radius: 3px;
}

.edit-image-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

.edit-image-form img {
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}

.edit-image-form > form > input[type="file"] {
	display: none;
}

.edit-image-form label {
    border: 1px solid var(--max-blue-purple);
    width: 100%;
    border-radius: 3px;
    padding: 7px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}


.edit-image-form label:hover {
    cursor: pointer;
    color: var(--max-blue-purple);
}

.form-image-edit {
    display: flex;
    flex-direction: column;
}

.form-image-edit button {
    padding: 5px;
    background-color: var(--french-violet);
    border: none;
    border-radius: 3px;
    color: var(--lavender-blush)
}

.form-image-edit button:hover {
    background-color: var(--french-violet-dark);
}


#my-exercises-btn,
#monster-dex-btn {
    width: 70%;
    padding: 7px;
    margin-bottom: 25px;
    color: var(--french-violet);
    border: none;
    background-color: var(--lavender-blush);
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.15s ease-in-out;

}

#my-exercises-btn:hover,
#monster-dex-btn:hover {
    background-color: var(--lavender-blush-dark);
}

.logout-btn {
    width: 70%;
    padding: 5px;
    background-color: var(--french-violet);
    border: none;
    border-radius: 3px;
    color: var(--lavender-blush);
    transition: all 0.2s ease-in-out;
    font-size: 14px;
}

.logout-btn:hover {
    background-color: var(--french-violet-dark);
}

.dash-main-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px; /* make up for footer */
}


.dash-main-container h2 {
    padding: 30px 20px;
}

.side-panel-burger {
    display: none;
}

@media screen and (min-width: 300px) and (max-width: 992px) {
    .side-panel-container {
        display: none;
        background-color: var(--jet);
        position: absolute;
    }

    .side-panel-burger {
        display: block;
        position: absolute;
        top: 0.3em;
        left: -3.5em;
    }

    .dash-nav a {
        display: none;
    }

    .nav-links {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .nav-links a {
        display: block;
        font-size: 1.7em;
        padding: 0;
        margin-left: 1em;
        margin-right: 1em;
        width: 6em;
    }

    .dash-side-main-container {
        display: grid;
        grid-template-columns: 1fr;
        min-width: 800px;
    }

}
