.splash-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--dim-gray);
}

.logo {
    margin-left: 45px;
}

#login-signup-container {
    display: flex;
    margin-right: 45px;
    justify-content: flex-end;
    align-items: center;
}


.splash-main-content {
    border: 3px solid var(--french-violet);
    margin: 5% auto;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
}

.splash-main-content h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

@import "~react-image-gallery/styles/css/image-gallery.css";

.carousel {
    margin: 25px;
}

.carousel-image img {
    border: none;
    height: 300px;
    max-width: 800px;
    padding: 5px;
    border-radius: 10px;
}

#carousel {
    border: 1px solid red;
}

#splash-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#splash-ready {
    background-color: var(--french-violet);
    padding: 15px 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
}

#splash-ready:hover {
    color: var(--lavender-blush);
    background-color: var(--french-violet-dark);
    cursor: pointer;
}

.disclaimer-div {
    background-color: var(--dim-gray-dark);
    border-radius: 7px;
    opacity: 0.7;
    text-align: center;
    margin: 80px 100px 80px 100px;
    padding: 20px;
}

/* Mobile */

@media screen and (min-width: 768px) and (max-width: 992px) {
    .splash-nav {
        display: none;
    }

    #splash-text h2 {
        font-size: 2em;
    }
    #splash-text p {
        margin-left: 5%;
        margin-right: 5%;
        line-height: 1.3em;
        text-align: center;
        font-size: 1.5em;
    }

    .splash-main-content {
        margin-left: 5%;
        margin-right: 5%;
    }

    .carousel {
        margin: 10px;
    }

    .carousel-image img {
        height: 350px;
        max-width: 800px;
    }

    #splash-ready {
        margin-top: 1em;
        margin-bottom: 2em;
        width: 50%;
        text-align: center;
        font-size: 1.5em;
    }

    .splash-footer {
        position: static;
        border: 1px solid var(--max-blue-purple);
        border-radius: 5px;
        width: 80%;
        margin: 0 auto;
        display: block;
    }


    .splash-footer p, a {
        margin-left: 10%;
        margin-right: 10%;
        padding: 2em;
        font-size: 1.5em;
    }

    .splash-footer .copyright {
        display: none;
    }

    .splash-footer .about-links {
        width: 100%;
        display: inline;
        margin-left: 25%;
    }

    .splash-footer .about-links a {
        padding: 0.5em 1em;
    }
}

/* @media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

} */
