.splash-main-container {
    /* border: 2px solid red; */
}

.splash-nav {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--dim-gray);

}

#login-signup-container {
    /* border: 2px solid pink; */
    display: flex;
    /* width: 25%; */
    justify-content: flex-end;
    align-items: center;
}


.splash-main-content {
    border: 3px solid var(--french-violet);
    margin: 5% auto;
    margin-left: 10%;
    margin-right: 10%;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
}

.splash-main-content h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

@import "~react-image-gallery/styles/css/image-gallery.css";

.carousel {
    margin: 25px;
}

.carousel-image img {
    border: none;
    height: 300px;
    max-width: 800px;
    padding: 5px;
    border-radius: 10px;
}

#carousel {
    border: 1px solid red;
}

#splash-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#splash-ready {
    background-color: var(--french-violet);
    padding: 15px 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
}

#splash-ready:hover {
    color: var(--lavender-blush);
    background-color: var(--french-violet-dark);
    cursor: pointer;
}

.copyright {
    padding: 10px;
}

.about-links {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding: 10px;

}

.about-links a, p {
    text-decoration: none;
    color: var(--lavender-blush);
    padding: 5px;
    padding-left: 10px;
    transition: all 0.2s ease-in-out;
}

.about-links a:hover {
    color: var(--french-violet);
}
