.monsters-container {
    padding: 10px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}


.monster-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--lavender-blush-dark);
    border-radius: 5px;
    padding: 15px 15px;
    margin: 15px;
    margin-bottom: 25px;
    transition: all 0.2s ease-in-out;
    width: 250px;
}

.monster-no-name {
    position: relative;
    bottom: 200px;
    text-align: center;
    margin-bottom: -200px;
    opacity: 0;
    background-color: rgba(47, 45, 46, 0.7);
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.monster-box:hover {
    background-color: var(--french-violet);
    cursor: pointer;
    animation-name: monster-box-hover;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;

}

.monster-box:hover .monster-no-name {
    opacity: 1;
}


@keyframes monster-box-hover {
    0% {
        position: relative;
        bottom: 0px
    }
    50% {
        bottom: 7px;
        position: relative;
    }
    100% {
        background-color: var(--french-violet);
        bottom: 3px;
        position: relative;
        transform: scale(1.05);
    }
}

.monster-box img{
    object-fit: contain;
    width: 200px;
    height: 200px;
}


/* MonsterDetails */
.dash-main-container.monster-details-container {
    display: flex;
    flex-direction: column;
    animation: 1s ease-in-out slide-in;
}

@keyframes slide-in {
    0% {
        position: relative;
        left: -100px;
        opacity: 0;
    }
    50% {
        position: relative;
        opacity: 0.5;
    }
    100% {
        position: relative;
        left: 0px;
        opacity: 1;
    }
}



.monster-details-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dash-main-container .monster-details-header h2 {
    padding-bottom: 0px;
}

.monster-details-container {
    padding-left: 7%;
    padding-right: 7%;
}

.monster-details-header p {
    padding-left: 20px;
}

.monster-no-lvl {
    color: var(--lavender-blush-dark);
}


.monster-details-container img {
    object-fit: contain;
}

.monster-details-img {
    width: 70%;
    max-height: 500px;
    border-radius: 3px;
    margin-left: 15%;
    margin-top: 25px;
    margin-bottom: 20px;
}


.monster-details-text {
    margin: 30px;
}

.monster-stamp {
    margin-top: 20px;
    background-color: var(--french-violet-dark);
    border-radius: 20px;
    text-align: center;
    width: max-content;
    padding: 7px 20px;

}

/* Battle Record */
.battle-records-container {
    margin: 0px 30px 30px 35px;
}

.battle-records-container h3 {
    margin-bottom: 10px;
}

.battle-record {
    display: flex;
}

.battling-text {
    color: var(--max-blue-purple);
}

.victory-text {
    color: var(--tea-green);
}

.defeat-text {
    color: var(--light-coral);
}
