.monsters-container {
    padding: 10px 30px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
}


.monster-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--max-blue-purple);
    border-radius: 3px;
    padding: 15px 15px;
    margin: 15px;
    transition: all 0.2s ease-in-out;

}

.monster-box:hover {
    background-color: var(--french-violet);
    transform: scale(1.05);
    cursor: pointer;
}

.monster-box img{
    object-fit: contain;
}

.monster-img {
    width: 200px;
    height: 200px;
}

/* MonsterDetails */
.dash-main-container.monster-details-container {
    display: flex;
    flex-direction: column;
}

.monster-details-header {
    display: flex;
    align-items: center;
    /* margin-left: 50px; */
}


.monster-details-container img {
    object-fit: cover;
}

.monster-details-img {
    width: 70%;
    border-radius: 3px;
    margin-left: 15%;
}
